/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #ebf397;
  list-style: none;
  overflow: hidden;
}
.main-header li {
  width: 140px;
  list-style: none;
  text-align: center;
  float: left;
}
.main-header li a {
  text-decoration: none;
  color: #1650dc;
  font-weight: bold;
}
.main-footer li {
  width: 140px;
  list-style: none;
  text-align: center;
  float: left;
}
.main-footer li a {
  text-decoration: none;
  color: #1650dc;
  font-weight: bold;
}
.container {
  padding: 50px 0 0 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
}
.sidebar {
  width: 30%;
  max-width: 300px;
  background: #DDD;
  padding: 10px;
}
.sidebar__item {
  margin-bottom: 20px;
}
.main {
  display: block;
  min-width: 750px;
  width: 100%;
  height: auto;
  padding: 10px;
}
.main-footer {
  width: 100%;
  height: 5%;
  max-height: 30px;
  padding: 10px;
  background: #ebf397;
}
.input_form {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 15px;
  height: 45px;
  margin: 10px;
  padding-left: 15px;
  width: 80%;
  font-size: 16px;
}
.email_form {
  width: 600px;
}
.name_form {
  width: 200px;
}
.column {
  margin: 20px;
}
must {
  margin-left: 5px;
  color: #F00;
}
input.submit {
  padding: 15px 40px;
  font-size: 1.2em;
  background-color: #3c5463;
  color: #fff;
  border-radius: 15px;
  border-style: none;
}

.btn-square-slant {
  display: inline-block;
  width: 80%;
  position: relative;
  padding: 1em 1.4em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
  border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.btn-square-slant:before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant:after {
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.btn-square-slant:active:after, .btn-square-slant:active:before {
  content: none;/*ボタンを押すと線が消える*/
}
