@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}
body {
  margin-right: auto;
  margin-left : auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1 {
  padding: 0.25em 0.5em;
  color: #1b2a96;
  border-left: solid 5px #7db4e6;
  font-size: 24px;
}
h2 {

}

li {
  list-style: none;
}
img {
  border-radius: 10px;
}
img.icon {
  border-radius: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
table {
  width: 100%;
}
tr {
  height: 60px;
}
th {
  background: #DDD;
  width: 40%;
  max-width: 250px;
}

td {
  background: #c9e2f7;
}
select {
  margin: 0 10px;
  height: 45px;
  width: 100px;
  font-size: 16px;
}
select.large_select {
  width: 80%;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
p.notes {

  color: #333;
  font-size: 10px;
  margin: 0;
}
