// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー一覧のサムネイル */
ul.freelancer-list {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
}
ul.freelancer-list > li {
  margin: 5px;
  width: 30%;
  max-width: 300px;
  text-align: center;
  border: 5px solid #90b6d6;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
}
.profile ul {
  padding: 10px 0px;
}
.profile ul .name {
  color: #FF0000;
}
.skill {
  display: inline-block;
}
div.skill {
  margin: 3px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
div.skill > label {
  float: left;
  font-size: 3px;
  color: #FFF;
  margin: 0px 3px;
  padding: 2px 7px;
  font-weight:  bold;
  background: #5999d0;
  border-radius: 8px;
}
ul.review-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 0 0;
}
ul.review-list > li {
  width: 33%;
  box-sizing: border-box;
}

/* 個人ページ */
ul.freelancer-profile {
 display: flex;
 flex-wrap: wrap;
}
ul.freelancer-profile > li {
  margin: 5px;
  width: 48%;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
}
.sns-icon {
  border-radius: 0px;
  margin: 0 10px;
  display: flex;
}
.sns {
  width: 10%;
  max-width: 50px;
}
.sns-id {
  text-align: left;
  padding: 0 10px;
}
.sns_id_input_form {
  max-width: 150px;
}


.profile-contents {
  width: 100%;
  margin: 10px;
}
/*タブ切り替え全体のスタイル*/
.tabs {
  width: 90%;
  padding-bottom: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/5);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content,
#design2:checked ~ #design2_content,
#design3:checked ~ #design3_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
