<h1>ダッシュボード</h1>
<div class='notices_wrap'>
  <div>新着メッセージが 2 件あります。</div>
  <div>新着フレンド申請が 2 件あります。</div>
</div>

<h2>表示中のプロフィール</h2>
<%= render 'common/user_profile' %>

<div class="profile-contents">
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">職歴・経験</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">スキル</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">働き方</label>
    <input id="design2" type="radio" name="tab_item">
    <label class="tab_item" for="design2">叶えられること</label>
    <input id="design3" type="radio" name="tab_item">
    <label class="tab_item" for="design3">インタビュー</label>

    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <p>職務経歴をずらずらーーーっとなんかうまい感じに</p>
      </div>
    </div>
    <div class="tab_content" id="programming_content">
      <div class="tab_content_description">
        <p>各言語・環境についての経験年数情報をずらずらと</p>
      </div>
    </div>
    <div class="tab_content" id="design_content">
      <div class="tab_content_description">
        <p>こういう働き方したいぜ！っていのを書く<br>転職要望などもあれば</p>
      </div>
    </div>
    <div class="tab_content" id="design2_content">
      <div class="tab_content_description">
        <p>この人に仕事を頼むと、こういうことを実現できますよ！ってことを書く</p>
      </div>
    </div>
    <div class="tab_content" id="design3_content">
      <div class="tab_content_description">
        <p>この人に聞いてみた！的なコーナー　全員質問は共通。他のフリーランスがこの人に興味を持てるような内容</p>
      </div>
    </div>
  </div>
</div>
