<div class="sidebar">
  <div class="sidebar_item">
    <li>
      <a href='/mypage'>ダッシュボード</a>
    </li>
    <li>
      <a href='#'>基本情報編集</a>
    </li>
    <li>
      <a href='#'>スキル編集</a>
    </li>
    <li>
      <a href='#'>フレンド一覧</a>
    </li>
    <li>
      <a href='#'>メッセージ</a>
    </li>
  </div>
</div>
